body {
background:#0f0f0f;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container {
background:#1c1c1c;
padding:40px;
border-radius:10px;
width:350px;
}

input {
width:100%;
padding:10px;
margin:10px 0;
background:#2a2a2a;
border:none;
color:white;
}

button,input[type=submit] {
background:#00ff99;
border:none;
padding:10px;
cursor:pointer;
}

.dashboard {
display:block;
padding:40px;
}

.card {
background:#1c1c1c;
padding:20px;
margin:20px;
}

.modal {
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
}

.modal-content {
background:#1c1c1c;
margin:10% auto;
padding:20px;
width:300px;
}
